# It's not language of ChatGPT answers. It's language for errors and some chat commands
LANGUAGE="en" 

#It's your PRIVATE tokens. Do not distribute them, keep them safe
OPENAI_TOKEN=""
TELEGRAM_BOT_TOKEN=""